/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 .tabs div[role="tablist"] button[aria-selected="true"] {
  background: var(--tabs-active-bg-color); 
  border-color: transparent transparent #2680EB transparent !important;
  border-width: 3px;
  color: var(--tabs-active-text-color);
}
